@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  background-image: linear-gradient(#222, #222),
    linear-gradient(#646cff, #646cff);
  background-size:
    100% 1px,
    0 1px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s linear;
}
a:hover {
  background-size:
    0 2px,
    100% 2px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.05em 0.75em;
  font-size: 1em;
  font-weight: inherit;
  font-family: inherit;
  color: #ffffff;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ADD8E6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a{
    background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#646cff, #646cff);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #646cff;
  }
}
